

.toplabels {
  font-size: 13px;
  color: darkgrey;
}

.mainbody .well, .panel:not(.mainstats) {
  margin: 10px;
  /* background-color: blue; */
}

.well {
  padding: 5px;
}

.mainstats {
  margin-top: 10px;
  border: 4pt ridge #cbced3;
}

.mainstats h2, .manstats p {
  text-align: center;
}

.columnstats.panel {
  margin: 5px;
}

.hitpoints .panel {
  border: 4pt ridge #cbced3;
}

.alert {
  background-color: #f5f5f5;
  margin: 5px;
  padding: 5px;
}

.traits .panel {
  border: 2pt ridge #cbced3;
}

.traits span {
  color: darkgrey;
}

.lowerlabel {
  text-align: center;
  color: darkgrey;
}
/* .mainbody [class*="col"] {
  padding: -20px;
} */

/* .hitpoints {
  background-color: lightgrey;
} */
